<%- model_class = Connection -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:sql_user) %></th>
      <th><%= model_class.human_attribute_name(:sql_password) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:server_id) %></th>
      <th><%= model_class.human_attribute_name(:connection_open) %></th>
      <th><%= model_class.human_attribute_name(:connection_closed) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @connections.each do |connection| %>
      <tr>
        <td><%= link_to connection.id, connection_path(connection.server,connection) %></td>
        <td><%= connection.sql_user %></td>
        <td><%= connection.sql_password %></td>
        <td><%= connection.user.name %></td>
        <td><%= connection.server_id %></td>
        <td><%= connection.connection_open %></td>
        <td><%= connection.connection_closed %></td>
        <td>
          <%= link_to 'Close Connection',
                      server_connection_path(connection.server, connection),
                      :method => :delete,
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_server_connection_path(params[:server_id]),
            :class => 'btn btn-primary' %>
