<%- model_class = Connection -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Project Name:</strong></dt>
  <dd><%= @connection.project.name %></dd>
  <dt><strong>Hostname:</strong></dt>
  <dd><%= @connection.server.ip_address %></dd>
  <dt><strong>Username:</strong></dt>
  <dd><%= @connection.username %></dd>
  <dt><strong>Password:</strong></dt>
  <dd><%= @connection.sql_password %></dd>
  <dt><strong>Made for:</strong></dt>
  <dd><%= @connection.user.name %></dd>
  <dt><strong>Commandline Access Command:</strong></dt>
  <dd><%= @connection.access_cmd %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              server_connections_path(@connection.server), :class => 'btn'  %>
</div>
