<%- model_class = Connection -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:sql_user) %>:</strong></dt>
  <dd><%= @connection.sql_user %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sql_password) %>:</strong></dt>
  <dd><%= @connection.sql_password %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user) %>:</strong></dt>
  <dd><%= @connection.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:server) %>:</strong></dt>
  <dd><%= @connection.server_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:connection_open) %>:</strong></dt>
  <dd><%= @connection.connection_open %></dd>
  <dt><strong><%= model_class.human_attribute_name(:connection_closed) %>:</strong></dt>
  <dd><%= @connection.connection_closed %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              server_connections_path(@connection.server), :class => 'btn'  %>
</div>
