<%- model_class = Connection -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:sql_user) %>:</strong></dt>
  <dd><%= @connection.sql_user %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sql_password) %>:</strong></dt>
  <dd><%= @connection.sql_password %></dd>
  <dt><strong>User:</strong></dt>
  <dd><%= @connection.user.name %></dd>
  <dt><strong>Server IP:</strong></dt>
  <dd><%= @connection.server.ip_address %></dd>
  <dd><%= @connection.connection_closed %></dd>
  <dt><strong>Access Command:</strong></dt>
  <dd><%= @connection.access_cmd %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              server_connections_path(@connection.server), :class => 'btn'  %>
</div>
