<p id="notice"><%= notice %></p>


<dl class="dl-horizontal">
  <dt><strong>Image:</strong></dt>
  <dd><%= @server.instance_id %></dd>

  <dt><strong>Status:</strong></dt>
  <dd><%= @server.status %></dd>

  <dt><strong>Project:</strong></dt>
  <dd><%= link_to @server.project.company.name, project_path(@server.project) %></dd>

  	<% unless @server.stopped? %>
  <dt><strong>Ip address:</strong></dt>
  <dd><%= @server.ip_address %></dd>
  <% end %>
</dl>

<p>Please do not start and stop server by hand unless there is some issue with connections. Click on open connections and
close them all. This will automatically shut the server down.</p>
<div class="form-actions">
<% if @server.stopped? %>
	<%= link_to 'Start Sever', start_server_url(:id=> @server.id), :class => 'btn btn-mini btn-success', :remote => true%>
<% else %>
 	<%= link_to 'Stop Sever', stop_server_url(:id => @server.id), :class => 'btn btn-mini btn-danger', :remote => true %>
<% end %>

<%=  link_to 'View Open Connections', server_connections_path(@server), :class => 'btn btn-mini btn-info' %>

<%= link_to 'Back', servers_path, :class => 'btn btn-mini' %>
</div>