<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Institution</th>
      <% if current_user.is? :admin %>
        <th>Toggle Lock</th>
      <% end %>
    </tr>
  </thead>
 <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%=  link_to (if user.name then user.name else "Unregistered" end), user_path(user) %></td>
      <td><%= user.email %></td>
      <td><%= user.institution %></td>
      <% if current_user.is? :admin %>
          <% if current_user == user %>
              <td>Can't Lock yourself.</td>
           <%else%>
                <td id="lock_<%=user.id%>"><%= render 'lock_unlock_form', :user => user %></td>
           <%end%>
      <% end %>
    </tr>
   <% end %>
</tbody>
</table>
