<h2>AMAZON WEB SERVICES</h2>
<h3>UPLOADING A FILE:</h3>
<ol>
  <li>Navigate to aws.amazon.com</li>
  <li>Under “My Account/Console”, click “AWS Management Console”

    <%= image_tag "aws uploading step 2.jpg" %>
  <li>Enter logon credentials:
    <ul>
      <li>efeit@wharton.upenn.edu</li>
      <li>Password: <%= Settings.aws_password %></li>
    </ul>
  </li>

  <li>Under “Storage & Content Delivery”, choose “S3: Scalable Storage in the Cloud”

    <%= image_tag "aws uploading step 4.jpg" %></li>

  <li>Click “projects.wcai”<br/>
    <%= image_tag "aws uploading step 5.jpg" %></li>

  <li>Find your project’s folder, or click “Create Folder” to create a new one.</li>
  <li>Before uploading, make sure you are inside the folder you wish to upload to. If you are in “Main Folder”, it will
    not upload to “Sub Folder”.
  </li>
  <li>Click “Upload”<br/>

    <%= image_tag "aws uploading step 8.jpg" %></li>

  <li>To upload files up to 5TB each, click “Add Files”. To upload larger files or folders,
    use the “Enable Enhanced Uploader” button, then click “Add Files”.<br/>

    <%= image_tag "aws uploading step 9.jpg" %></li>


  <li>Once you have selected all the desired files, click the “Start Upload” button.

    <%= image_tag "aws uploading step 10.jpg" %> </li>
</ol>

