<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Company</th>
      <th>Start Date</th>
      <th>Current State</th>
      <th>Description</th>
      <% if current_user.is? :admin or current_user.is? :research_assistant%>
       <th>Server Status</th>
      <% end %>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.company.name, project_path(project)%></td>
        <td><%= project.start_date %></td>
        <td><%= project.current_state %></td>
        <td><%= project.description %></td>
	<% if current_user.is? :admin or current_user.is? :research_assistant%>
        <% if project.server.nil? %>
            <td>No server setup</td>
        <% else %>
            <td><%= link_to project.server.status, server_path(project.server) %></td>
         <% end %>
	<% end %>
        <td>
          <%= link_to  "Project Files", project_project_files_path(project),  :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
