<%= simple_form_for @timesheet do |f| %>
  <%= f.association :user,
                    :disabled => @user_change_disabled,
                    :value => @timesheet.user,
                    :collection => User.with_role(:research_assistant).order(:name) %>
  <%= f.input :start_date, :as => :datepicker,
              input_html: {class: 'only_mondays'} %>
<table class="table table-striped">
    <thead>
        <tr>
          <th>Date</th>
          <th>Hours Spent</th>
          <th>Project</th>
          <th>Comments</th>

        </tr>
        </thead>
        <tbody>
    <%= f.fields_for :time_entries, @time_entries do |builder| %>
            <tr>
              <%=  builder.input :day, :as => :hidden %>
              <td><p><%= builder.label builder.object.day_of_week %></p></td>
              <td> <%= builder.input :hours_spent, label: false, input_html: {min: 0, max: 24, style:'width: 50px;', class:'hour-num-field', step:0.25} %></td>
              <td><%= builder.association :project, label: false, :collection => Project.all().each() %></td>
              <td><%= builder.input :comment, label: false, input_html: {rows: 1} %></td>
            </tr>
        <% end %>
        </tbody>
</table>
    <p><label>&nbsp;&nbsp;&nbsp;Total:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="ts-total" step="any" style="width: 40px;" disabled="true" value="<%= @timesheet.hours%>"/></label></p>
    <div class="form-actions">
      <%= f.button :submit,
                   :class => 'btn-primary',
                   :value => 'submit' %>
      <%= f.button :submit, 'Save As Draft',
                   :class => 'btn',
                   :name => 'draft' %>
      <%= link_to t('.cancel', :default => t('helpers.links.cancel')),
                  timesheets_path, :class => 'btn' %>

    </div>
<% end %>
