<%- model_class = Timesheet -%>
<style>

    .page-break { display:block; clear:both; page-break-after:always; }
    h4 {
        background-color: #2255FF;
        text-align: center;
    }

    h6 {
        background-color: #2255FF;
        text-align: center;
    }
</style>

<h4>University of Pennsylvania</h4>
<h6>Time Report Form<br />To Be Used by Temporary Hourly Employees</h6>

<dl class="dl-horizontal">
  <p>Timesheet for <%= @timesheet.user.name %></p>
  <p>Week of <%= @timesheet.start_date.strftime('%m/%d/%Y') %></p>
  <p> <%= @timesheet.approver.nil? ? 'Not approved' : "Approved by #{@timesheet.approver.name}" %></p>
</dl>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Date</th>
    <th>Hours</th>
    <th>Project</th>
    <th>Comments</th>
  </tr>
  </thead>
  <tbody>
  <% @timesheet.time_entries.each do |time_entry| %>
      <tr>
        <td><%= (@timesheet.start_date + time_entry.day.days).strftime('%m/%d/%Y') %></td>
        <td><%= time_entry.hours_spent %></td>
        <td><%= time_entry.project.name unless time_entry.project.nil? %></td>
        <td><%= time_entry.comment %></td>
      </tr>
  <% end %>
  <tr><td></td><td></td><td></td><td></td></tr>
  </tbody>
</table>

<p><strong>Total hours:</strong> <%= @timesheet.hours %></p>