<%- model_class = Timesheet -%>
<html>
<head>
  <%= wicked_pdf_stylesheet_link_tag  "application" %>
  <%= wicked_pdf_javascript_include_tag "application" %>
  <script>
      function number_pages() {
          var vars={};
          var x=document.location.search.substring(1).split('&');
          for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
          var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
          for(var i in x) {
              var y = document.getElementsByClassName(x[i]);
              for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
          }
      }
  </script>
</head>
<body onload="number_pages()">
<div class="page-break">asfasfasdf</div>

<div class="page-break"> asfasfasdfasfasfasdf</div>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Timesheet for:</strong></dt>
  <dd><%= @timesheet.user.name%></dd>
  <dt><strong>Week of:</strong></dt>
  <dd><%= @timesheet.start_date %></dd>
  <dt><strong>Status:</strong></dt>
  <dd><%= @timesheet.status_string %></dd>
</dl>
<div class="page-break"> <p>asfasfasdfasfasfasdf</p></div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Day</th>
    <th>Hours</th>
    <th>Project</th>
    <th>Comments</th>
  </tr>
  </thead>
  <tbody>
  <% @timesheet.time_entries.each do |time_entry| %>
      <tr>
        <td><%= time_entry.day_of_week %></td>
        <td><%= time_entry.hours_spent %></td>
        <td><%= time_entry.project.name unless time_entry.project.nil? %></td>
        <td><%= time_entry.comment %></td>
      </tr>
  <% end %>
  <tr><td></td><td></td><td></td><td></td></tr>
  </tbody>
</table>

</body>
</html>