<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @project_file.project %>
</p>

<p>
  <b>File:</b>
  <%= @project_file.file_url() %>
</p>


<%= link_to 'Edit', edit_project_file_path(@project_file) %> |
<%= link_to 'Back', project_files_path %>
