<div class="well sidebar-nav">
  <!-- <h3>Shortcuts</h3> -->
  <ul class="nav nav-list">
    <% if user_signed_in? %>
            <li class="nav-header">View</li>
            <li><%= link_to "Projects", projects_path  %></li>
        <% if current_user.is? :admin or current_user.is? :research_assistant %>
            <li><%= link_to "Timesheets", timesheets_path  %></li>
            <li><%= link_to "Connections", connections_path  %></li>
        <% end %>
        <% if current_user.is? :admin %>
            <li><%= link_to "Users", users_path  %></li>
            <li><%= link_to "Instances", servers_path %></li>
            <br />
            <li class="nav-header">Create</li>
            <li><%= link_to "Project", new_project_path  %></li>
            <li><%= link_to "Users", new_batch_users_path  %></li>
            <li class="nav-header">Documentation</li>
            <li><%= link_to "Creating a Project", how_to_create_projects_path  %></li>
            <li><%= link_to "Creating Users", how_to_create_users_path  %></li>
            <li><%= link_to "Uploading Project Files", how_to_upload_files_path  %></li>
        <% end %>
        <li class="nav-header">Account</li>
        <li><%= link_to "Edit your account", edit_user_registration_path  %></li>
    <% else %>
        <li class="nav-header">Login</li>
        <li><%= link_to "Sign In", new_user_session_path  %></li>
    <% end %>
  </ul>
</div><!--/.well -->
